.carousel {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .carousel .list {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel .item {
    flex: 1 0 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel .content {
    position: absolute;
    top: 20%;
    left: 22%;
    max-width: 80%;
    box-sizing: border-box;

    transform: translateX(-50%);
    color: white;
    /* text-align: center; */
    z-index: 2;
    text-shadow: 0 5px 10px #000400;
 
  }
  .carousel .content  .author{
    font-weight: 700;
    letter-spacing: 10px;
  }
  .carousel .content  .topic{

  font-weight: bolder;
  font-size: 5em;

  list-style: 1em;
  color: rgb(250, 31, 31);
  }
  .carousel .content  .des{

    font-weight: bolder;
    font-size: 1.5em;
  
    /* list-style: 1em; */
    }
  .carousel .buttons {
    margin-top: 20px;
  }
  .button-62 {
    background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
      0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .carousal .list .item:nth-child(1) .author,
.carousal .list .item:nth-child(1) .topic,
.carousal .list .item:nth-child(1) .des,
.carousal .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s liner 1 forwards;
}

  .thumbnail {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    gap: 15px;
    z-index: 3;
  }
  
  .thumbnail .item {
    width: 80px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    font-weight: 800 ;
    text-shadow: 0 5px 10px #000400;
}
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .arrows {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 4;
  }
  
  .arrows button {
    background-color: rgba(93, 88, 88, 0.5);
    border: none;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .arrows button:hover {
    background-color: white;
    color: black;
  }
  